<h3>Total</h3>
<h4><%= price %></h4>
<h3>Please double-check the delivery address</h3>
<p><%= current_user.address %>
<h3>Please double-check the name</h3>
<p><%= current_user.name %>
<h3>Please double-check the phone number</h3>
<p><%= current_user.phone %>

<h2>To confirm your order, please check the following:</h2>
<p><%= pizza %></p> 