<div class="order_form">

  <h4>Order Your Fancy Pizza Now!</h4>
  <p>Please select your size, crust and sauce</p>

  <%= simple_form_for @pizza, url: toppings_path, remote: true do |f| %>
    <%= f.input :size, collection: @size %>
    <%= f.input :crust, collection: @crust %>
    <%= f.input :sauce, collection: @sauce %>
    <%= f.button :submit %>
  <% end %>

</div>

